#info h3 {display: none;}

#logo {background-image: url(../nysl_logo.png);
    background-size: contain;}

#logo {
    height: 150px;
    width: 150px;}

#sideimg {
    height: 300px;
    width: 200px;
}

#sideimg {background-image: url(../soccer_image1.jpg);
    background-size: cover;}

#heading{
    background-color: aquamarine;
}

#pagecontent{
    background-color: darkkhaki;
}

body{
    height: 720px;
    width: 1080px;
}




body{
    display: grid;
    grid-template-columns: 250px 40px 40px 40px 1fr;
    grid-template-rows: repeat(7, 1fr);
}

#heading {
    grid-column: 1/6;
    grid-row: 1/4;
    display: block;
}

#pagecontent {
    grid-column: 1/6;
    grid-row: 4/8;
    display: block;
}



#logo{
    grid-column: 1/ 1;
    grid-row: 1/ 2;
    display: inline-block;
}

#header{
    grid-column: 2/ 5;
    grid-row: 1/1;
    display: inline-block;
}

nav {
    grid-column: 2/5;
    grid-row: 3/3;
}

#sideimg {
    grid-column: 1/1;
    grid-row: 4/7;
    display: inline-block;
}

#pagetitle{
    grid-column: 3/6;
    grid-row: 4/4;
    display: block;
}

#info{
    display: inline-block;
}


#info .info1{
    grid-column-start: 4;
}

#info .info 2{
    grid-column-start: 5;
}
*/




/*
#heading{
    display:grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);    
}

#pagecontent{
    display:grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);    
}


#logo{
    grid-column: 1/ span 2;
    grid-row: 2/span 10;
}

#header{
    grid-column: 3/ 7;
    grid-row: 1/span 2;
}

nav {
    grid-column: 3/ 6;
    grid-row: 3/span 1;
        
}

#sideimg {
    grid-column: 1/ span 2;
    grid-row: 2/span 10;
        
}

#info {
    grid-column: 5/ span 5;
    grid-row: 2/span 9;
        
}
*/
