#sideimg {display: none;}
/*#content h2 {display: none;}*/
#articlehead_design1 {display: none;} 
span.NavlinkSeparator {display: none;}

body {
    margin-left: 240px;
    width: 1000px;
    
/*
    display: table-cell;
    vertical-align: middle;
*/
}

/*

CENTER THE BODY INSTEAD OF RELYING ON MARGIN

*/

header {
    background-image: url(../design1_image1.jpg);
    background-size:cover;
    background-position: top;
    height: 200px;
    
}

h1{
    font: 50px arial;
    text-shadow: 0 0 10px white;
}

#logo {
    height: 150px;
    width: 150px;
    
/*
    float: right;
    margin-right:75px;
*/
    position: absolute;
    margin-left: 750px;
    margin-top: 141px;
}

img {
    max-height: 100%;
}
 
#pageheading h2 {
    margin: 0;
    padding: 5px;

   
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    
    text-align: center;    
    }



nav {
    width: 200px;
    padding-top: 217px;
    padding-left: 50px;
    display: inline-block;
}

nav a {
    display: block;
    font-family: sans-serif;
    margin-bottom: 94px;
    
}
 

/*

a:link, a:visited {
    font-weight: normal;
}

a.current:visited {
  font-weight: bold;
}

THIS IS NOT NECESSARY FOR THE LINK-BOLDING TO WORK
*/


a.current:link {
    font-weight: bold;
}






article {
    display: inline-block;
    margin-left: 200px;
    padding-top: 55px;
    width: 800px;
}

article h2 {
    margin-top: -35px;
    position: absolute;
    font-family: sans-serif;

}


.date {
    font-style: italic;
    font-family: sans-serif;
    margin-top: 0;
    padding-top: 15px;
}

.activity {
    padding-left: 25px;
    font-family: sans-serif;
    padding-bottom: 30px;

}





























